html, body {
    height: 100%;
    margin: 0;
}
body {
    font-family: 'Goldman', cursive;
    background-color: black;
    color: white;
}

h1 {
    font-family: 'Black Ops One', cursive;
    font-size: 4rem;
    margin: 10px;
    padding: 0;
}

h2 {
    width: 100%;
}

header {
    margin-bottom: 15px;
    padding-bottom: 0px;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gameboards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard {
    margin: 2vmin;
    display: grid;
    background-color: rgb(122, 206, 212);
    grid-template-rows: repeat(10, 4.6vmin);
    grid-template-columns: repeat(10, 4.6vmin);
}

.gameboard div {
    border: 1px solid hsla(0, 0%, 100%, .2);
    cursor: pointer;
}

.pieceboard {
    background-color: whitesmoke;
    width: 36vmin;
    height: 28vmin;
    margin: 2vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#features {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.button {
    font-family: 'Goldman', cursive;
    background-color: orange;
    border: none;
    border-radius: 5px;;
    text-align: center;
    font-size: 15px;
    width: 14vmin;
    height: 8vmin;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

#start-game {
    display: none;
}

#p1-boards {
    display: flex;
}

#p2-boards {
    display: flex;
}

.ship {
    background-color: hsl(0, 0%, 70%);
    display: flex;
    flex-wrap: wrap;
    margin: 1vmin;
    width: calc(4.6vmin * var(--width, 1));
    height: calc(4.6vmin * var(--height, 1));
    border-radius: 2.3vmin;
}

.ship > div {
    width: 4.6vmin;
    height: 4.6vmin;
    
}

.p1-destroyer,
.p1-cruiser,
.p1-submarine,
.p1-battleship,
.p1-carrier, 
.p2-destroyer,
.p2-cruiser,
.p2-submarine,
.p2-battleship,
.p2-carrier {
    background-color: hsl(0, 0%, 70%);
}

.start.vertical {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.end.vertical {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.start.horizontal {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.end.horizontal {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.destroyer-container {
    --width: 2;
}

.destroyer-container-vertical  {
    --height: 2;
    --width: 1;
}

.cruiser-container, 
.submarine-container {
    --width: 3;
}

.cruiser-container-vertical, 
.submarine-container-vertical {
    --height: 3;
    --width: 1;
}

.battleship-container {
    --width: 4;
}

.battleship-container-vertical {
    --height: 4;
    --width: 1;
}

.carrier-container {
    --width: 5;
}

.carrier-container-vertical {
    --height: 5;
    --width: 1;
}

.ship-hide {
    background-color: rgb(122, 206, 212);
    border-radius: none;
}

.hit {
    background-color: red;
}
.miss {
    background-color: white;
}

.hit, 
.miss {
    border-radius: 100% !important;
    margin: auto;
    width: 2vmin;
    height: 2vmin;
}

.drag-over {
    background-color: rgb(88, 149, 153);
    border: 1px solid hsla(0, 0%, 100%, .5);
}