html, body {
    height: 100%;
    margin: 0;
}
body {
    background-color: black;
    color: white;
}
#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gameboard {
    width: 505px;
    height: 505px;
    background-color: rgba(122, 206, 212, .8);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.gameboard div {
    width: 49px;
    height: 49px;
    background-color: purple;
    cursor: pointer;
}

.pieceboard {
    background-color: whitesmoke;
    width: 275px;
    height: 275px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    }

#boards {
    display: flex;
}

.ship div {
    width: 50px;
    height: 50px;
}

.destroyer-container {
    background-color: fuchsia;
    width: 100px;
    height: 50px;
    display: flex;
}

.cruiser-container {
    background-color: blue;
    width: 150px;
    height: 50px;
    display: flex;
}

.submarine-container {
    background-color: orange;
    width: 150px;
    height: 50px;
    display: flex;
}

.battleship-container {
    background-color: greenyellow;
    width: 200px;
    height: 50px;
    display: flex;
}

.carrier-container {
    background-color: aqua;
    width: 250px;
    height: 50px;
    display: flex;
}
